# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#VITE_APP_GEOAPIFY_API_KEY=900eb6fecb9d4b91a833d14572285512
#VITE_UNSPLASH_ACCESS_KEY=6nSSLYKNq_DC2kdInIjlkeFUKAMRRDe_vnWbHRLX3oE
#VITE_GEMINI_AI_API_KEY=AIzaSyD5e-0M_iY2-VUU2fpQAtwyaxmVW7DJJDI
#VITE_GOOGLE_AUTH_CLIENT_ID=80679795065-1j4rmqsdsids8882kflpm54cae7ederj.apps.googleusercontent.com
